<!DOCTYPE html>
<html>
  <head>
    <title>GPS Tracking Demo</title>
  </head>
  <body>
    <!-- (A) YOUR MAP HERE -->
    <div id="map"></div>

    <script>
    var track = {
      // (B) PROPERTIES
      map : null, // HTML map
      delay : 10000, // Delay between location refresh

      // (C) INIT
      init : () => {
        track.map = document.getElementById("map");
        track.show();
        setInterval(track.show, track.delay);
      },

      // (D) GET DATA FROM SERVER AND UPDATE MAP
      show : () => {
        // (D1) DATA
        var data = new FormData();
        data.append("req", "getAll");

        // (D2) AJAX FETCH
        fetch("2b-ajax-track.php", { method:"POST", body:data })
        .then(res => res.json()).then((res) => {
          if (res.status==1) { for (let rider of res.message) {
            var row = document.createElement("div");
            row.innerHTML = "Rider ID " + rider.rider_id +
                            " | Lng " + rider.track_lng +
                            " | Lat " + rider.track_lat +
                            " | Time " + rider.track_time;
            track.map.appendChild(row);
          }} else { track.map.innerHTML = res.message; }
        }).catch((err) => { console.error(err); });
      }
    };
    window.addEventListener("DOMContentLoaded", track.init);
    </script>
  </body>
</html>
